RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteRule ^(favicon.ico|robots.txt) - [L]
RewriteRule ^.*$ - [NC]
RewriteRule ^.*$ public/index.php [NC]
