<?xml version="1.0" encoding="UTF-8"?>
<config>
	<nav>
		<zend>
			<label>Zend</label>
			<uri>http://www.zend.com</uri>
			<order>100</order>
		</zend>
		<home>
			<label>Home</label>
			<order>-500</order>
			<module>default</module>
			<controller>index</controller>
			<action>index</action>
		</home>
		<purchaseorder>
			<label>Bestellungen</label>
			<order>-120</order>
			<module>default</module>
			<controller>purchaseorder</controller>
			<action>index</action>
		</purchaseorder>
		<inbound>
			<label>Wareneingang</label>
			<order>-110</order>
			<module>default</module>
			<controller>inbound</controller>
			<action>index</action>
		</inbound>
		<whmanagement>
			<label>Lagerverwaltung</label>
			<order>-100</order>
			<module>default</module>
			<controller>whmanagement</controller>
			<action>index</action>
		</whmanagement>
		<customer>
			<label>Kunden</label>
			<order>-90</order>
			<module>default</module>
			<controller>customer</controller>
			<action>index</action>
		</customer>
		<vendor>
			<label>Lieferanten</label>
			<order>-80</order>
			<module>default</module>
			<controller>vendor</controller>
			<action>index</action>
		</vendor>
		<variant>
			<label>Varianten</label>
			<order>-70</order>
			<module>default</module>
			<controller>variant</controller>
			<action>index</action>
		</variant>
		<product>
			<label>Produkte</label>
			<order>-60</order>
			<module>default</module>
			<controller>product</controller>
			<action>index</action>
		</product>
		<packaging>
			<label>Verpackungen</label>
			<order>-50</order>
			<module>default</module>
			<controller>packaging</controller>
			<action>index</action>
		</packaging>
		<tpackaging>
			<label>Transportverp.</label>
			<order>-45</order>
			<module>default</module>
			<controller>tpackaging</controller>
			<action>index</action>
		</tpackaging>
		<brand>
			<label>Marken</label>
			<order>-40</order>
			<module>default</module>
			<controller>brand</controller>
			<action>index</action>
		</brand>
		<productgroup>
			<label>Produktgruppen</label>
			<order>-30</order>
			<module>default</module>
			<controller>productgroup</controller>
			<action>index</action>
		</productgroup>
		<country>
			<label>Länder</label>
			<order>-20</order>
			<module>default</module>
			<controller>country</controller>
			<action>index</action>
		</country>
	</nav>
</config>